*.iml
*.log*
*.pyc
*.swo
*.swp
*~
.DS_STORE
.env*
!.env.example
.grunt
.idea
.history
.module-cache
.vscode
_SpecRunner.html
__benchmarks__
build/
chrome-user-data
coverage/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
node_modules/
remote-repo/

# custom
**/.history
**/.idea
**/.vscode
.eslintcache/
